.pageCenter {
  width: 540px;
  position: fixed;
  margin: 0 auto;
  top: 25%;
  left: 50%;
  margin-left: -300px;
  text-align:center;
  background-color:#eee;
  padding:0 0 50px 0;
}

.logo {
  width: 36px;
  position:relative;
  z-index: 100;
}

.title{
  font-size: 18px;
  display:inline;
  position:relative;
  bottom: -7px;
  margin-left: 20px;
  color:#fff;
}

.header{
  border-bottom:2px solid rgb(19, 123, 226);
  padding: 10px 0;
  margin-bottom:10px;
  background:rgb(48, 141, 246);
}

.TabPane{
  font-size:26px;
  float:left;
}

.submit {
  width: 425px;
  text-align:cetner;
  margin-top: 20px;
  color: #fff;
  font-size: 22px;
  border-radius:3px;
  position:relative;
  right:-10px;
  cursor:pointer;
  z-index: 100;
  height: 30px;
  line-height: 30px;
}

.formBlock{
  width:424px;
  margin-top: 30px;
  position:relative;
  right:-10px;
}

.submit:hover {
  background-color: rgb(64, 117, 170);
}

.bg {
  background-color:rgb(21, 72, 122);
  height:100%;
  width:100%;
  position:absolute;
}

.imgTop {
  position:fixed;
  transform:rotate(-180deg);
  top: 5%;
  width: 500px;
  right: 60%;
  opacity: .5;
  animation:imgTop 200s linear infinite;
  -webkit-animation:imgTop 200s linear infinite; /*Safari and Chrome*/
}

.imgCenter {
  width: 20%;
  position:fixed;
  bottom: 5%;
  right: 0%;
  opacity: .5;
  /* animation:imgCenter 250s linear infinite;  */
}

.imgBottom {
  position:fixed;
  width: 400px;
  bottom: 20%;
  right: 90%;
  opacity: .7;
  animation:imgBottom 250s 1 forwards;
  -webkit-animation:imgBottom 250s 1 forwards; /*Safari and Chrome*/
}

.imgOhter{
  position:absolute;
  width: 320px;
  top: -45px;
  right: -20px;
  opacity: .9;
  transform:rotate(-5deg);
}

.footer{
  text-align:center;
  position:fixed;
  bottom:0;
  width:100%;
  padding: 10px 0;
  /* background-color: rgba(177, 191, 214, 0.3); */
  color:rgb(154, 199, 219);
  font-size:14px;
}

.footer img {
  width: 18px;
  position:relative;
  top:-2px;
}

.keyContainer{
  text-align:left;
  font-size:15px;
  margin-top:10px;
}

.keyContainer p {
  padding-left: 10px;
}

@keyframes imgTop
{
from {right:60%}
to {right:100%}
}

@-webkit-keyframes imgTop /*Safari and Chrome*/
{
  from {right:60%}
  to {right:100%}
}

@keyframes imgCenter
{
from {right:0%}
to {right:100%}
}

@-webkit-keyframes imgCenter /*Safari and Chrome*/
{
  from {right:0%}
  to {right:100%}
}

@keyframes imgBottom
{
from {right:90%}
to {right:100%}
}

@-webkit-keyframes imgBottom /*Safari and Chrome*/
{
  from {right:90%}
  to {right:100%}
}

@keyframes imgOhter
{
from {right:-400px}
to {right:100%}
}

@-webkit-keyframes imgOhter /*Safari and Chrome*/
{
  from {right:-400px}
  to {right:100%}
}